<template>
  <div id="add-blog">
    <h2>ADD BLOG</h2>
    <form v-if="!submitted">
      <label>Blog Title:</label>
      <input type="text" name="" v-model.lazy="blog.title" required>
      <label>Blog Content:</label>
      <textarea v-model.lazy="blog.text" required></textarea>
      <div id="checkboxes">
      <label>Categories:</label>
        <label>Cake</label>
        <input type="checkbox" value="Cake" v-model="blog.categories">
        <label>Coffee</label>
        <input type="checkbox" value="Coffee" v-model="blog.categories">
        <label>Space</label>
        <input type="checkbox" value="Space" v-model="blog.categories">
        <label>Burger</label>
        <input type="checkbox" value="Burger" v-model="blog.categories">
      </div>
      <label>Author:</label>
      <select v-model="blog.author">
        <option v-for="author in authors">{{ author }}</option>
      </select>
      <button v-on:click.prevent="postForm">Add Blog</button>
    </form>
    <div v-if="submitted">
      <h2>Blog posted!</h2>
    </div>
    <div id="preview">
      <h3>Preview Blog</h3>
      <p>Blog Title: {{ blog.title }}</p>
      <p>Blog Content:</p>
      <p>{{ blog.text }}</p>
      <p>Blog Categories:</p>
      <ul>
        <li v-for="category in blog.categories">{{ category }}</li>
      </ul>
      <p>Blog Author:</p>
      <p>{{ blog.author }}</p>
    </div>
    <div>
      <router-link to="/" v-show="submitted"><h1 id="returnToBlogs">Go to Blogs</h1></router-link>
    </div>

  </div>
</template>

<script>

export default {
  components: {
    
  },
  data () {
    return {
     blog:{
      title: '',
      text: '',
      categories:[],
      author: ''
     },
     authors:['King', 'Queen', 'Jack'],
     submitted: false
    }
  },
  methods: {
    postForm: function(){
      this.$http.post('https://vuefirst-2f764.firebaseio.com/posts.json', this.blog).then(function(data){
        console.log(data);
        this.submitted = true;
      });
    }
  }
}
</script>

<style scoped>
  #add-blog *{
    box-sizing: border-box;
  }
  #add-blog{
    margin: 20px auto;
    max-width: 500px;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    border-radius: 20px;
  }
  label{
    display: block;
    margin: 20px 0 10px;
  }
  input[type="text"],textarea{
    display: block;
    width: 100%;
    padding: 8px;
  }
  #preview{
    padding: 10px 20px;
    border: 1px dotted #ccc;
    margin: 30px 0;
    background: #fff;
    color: #000 !important;
  }
  h3{
    margin-top: 10px;
  }
  #checkboxes input{
    display: inline-block;
    margin-right: 10px;
  }
  #checkboxes label{
    display: inline-block;
  }
  li{
    display: inline-block;
    margin-left: 20px;
  }
  h2{
    text-align: center;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
</style>
