<template>
	<nav>
		<ul>
			<li><router-link to="/" exact>BLOGS</router-link></li>
			<li><router-link to="/add" exact>NEW BLOG</router-link></li>
		</ul>
	</nav>
</template>

<script>
	
export default{

}

</script>

<style scoped>
ul{
	list-style-type: none;
	text-align: right;
	margin:0;
	padding: 0 10px;
}
li{
	display: inline-block;
	margin: 0 10px;
}
a{
	color: #fff;
	text-decoration: none;
	padding: 6px 10px;
	border: 10px;
	font-weight: 900;
}
nav{
	background: #222;
	padding: 20px 0;
	margin-bottom: 40px;
}
.router-link-active{
	background: #eee;
	color: #222;
	border-radius: 10px;
}
</style>