
<template>
  <div>
  	<h1>Fill up the form</h1>
  	<form>
  		<div id="form-header">
  			<slot name="form-header"></slot>
  		</div>
  		<div id="form-fields">
  			<slot name="form-fields"></slot>
  		</div>
  		<div id="form-controls">
  			<slot name="form-controls"></slot>
  		</div>
  		<div id="form-link">
  			<ul>
  				<li><a href="#">Link</a></li>
  				<li><a href="#">Link</a></li>
  				<li><a href="#">Link</a></li>
  				<li><a href="#">Link</a></li>
  			</ul>
  		</div>
  	</form>
  </div>
</template>

<script>

export default {
  data () {
    return {

    }
  }
}
</script>

<style scoped>
	h1{
		text-align: center;
	}
	form{
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	#form-link ul{
		padding: 0;
	}
	#form-link li{
		display: inline-block;
		margin-right: 10px;
	}
	form > div{
		padding: 20px;
		background: #eee;
		margin: 20px 0;
	}
	#form-header{
		background: #ddd;
		border: 1px solid #bbb;
	}
</style>
