
<template>
  <div>
  	<form-helper>
     <div slot="form-header">
       <h3>Form One</h3>
     </div> 
     <div slot="form-fields">
       <input type="text" name="" required>
       <label>Message:</label>
       <textarea></textarea>
     </div>
     <div slot="form-control">
       <button v-on:click="">Submit</button>
     </div>
    </form-helper>
  </div>
</template>

<script>

import FormHelper from '../components/FormHelper.vue'

export default {
  components:{
    'form-helper': FormHelper
  },
  data () {
    return {

    }
  }
}
</script>

<style scoped>
	h1{
		text-align: center;
	}
	form{
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
	}
	#form-link ul{
		padding: 0;
	}
	#form-link li{
		display: inline-block;
		margin-right: 10px;
	}
	form > div{
		padding: 20px;
		background: #eee;
		margin: 20px 0;
	}
	#form-header{
		background: #ddd;
		border: 1px solid #bbb;
	}
</style>
