<template>
  <div v-theme:column id="show-blogs">
    <h1>All Blog Titles</h1>
    <div class="rightSearch">
    <input type="text" name="" placeholder="Search" v-model="search">
    </div>
    <div class="single-blog" v-for="blog in filterBlogs">
        <h2 v-rainbow>{{ blog.title | toUpper }}</h2>
        <article>{{ blog.body | textSlice }}</article>
        
    </div>
  </div>
</template>

<script>

import searchMixin from '../mixins/searchMixin'

export default {
  data () {
    return {
     blogs:[],
     search: ''
    }
  },
  methods: {
    
  },
  created(){
    this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function(data){
      this.blogs = data.body.slice(0,5);
    });
  },
  computed: {
    
  },
  mixins: [searchMixin]
}
</script>

<style scoped>
 h1{
  color: #aaa;
 }
 #show-blogs{
  max-width: 800px;
  margin: 0 auto;
 }
.single-blog{
  padding: 20px;
  margin: 30px 0;
  box-sizing: border-box;
  background: #ddd;
  color: #222;
  border-radius: 10px;
}
 .rightSearch input{
  width: 300px;
  height: 20px;
 }
 img{
  width: 100px;
  margin: 0 auto;
  padding: 20px;
 }
</style>
