<template>
  <div v-theme:column="'wide'" id="show-blogs">
    <h1>All Blog Articles</h1>
    <div class="rightSearch">
    <input type="text" name="" placeholder="Search" v-model="search">
    </div>
    <div class="single-blog" v-for="blog in filterBlogs">
        <h2 v-rainbow>{{ blog.title | toUpper }}</h2>
        <article>{{ blog.text | textSlice }}</article>
        <button id="readMore"><router-link v-bind:to="'/blog/' + blog.id">Read More >></router-link></button>
    </div>
  </div>
</template>

<script>

import searchMixin from '../mixins/searchMixin'

export default {
  data () {
    return {
     blogs:[],
     search: ''
    }
  },
  methods: {
    
  },
  created(){
    this.$http.get('https://vuefirst-2f764.firebaseio.com/posts.json').then(function(data){
      return data.json();
    }).then(function(data){
      var tempArray = [];
      for(let key in data){
        data[key].id = key;
        tempArray.push(data[key]);
        console.log(data[key]);
      }
      this.blogs = tempArray;
    });
  },
  computed: {
    
  },
  mixins: [searchMixin]
}
</script>

<style scoped>
 h1{
  color: #aaa;
 }
 #show-blogs{
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
 }
.single-blog{
  padding: 20px;
  margin: 30px 0;
  box-sizing: border-box;
  background: #ddd;
  color: #222;
  border-radius: 10px;
}
 .rightSearch input{
  width: 300px;
  height: 20px;
 }
 img{
  width: 100px;
  margin: 0 auto;
  padding: 20px;
 }
 #readMore{
  margin: 20px 0px;
 }
 a{
  text-decoration: none;
 }
</style>
