<template>
	<div id="single-blog">
		<h1>{{ blog.title }}</h1>
		<article>{{ blog.text }}</article>
		<h2>Authored by: {{ blog.author }}</h2>
		<ul>
			<h3>Tags</h3>
			<li v-for="category in blog.categories">{{ category }}</li>
		</ul>
	</div>
</template>

<script>
	
	export default{
		data(){
			return{
				id: this.$route.params.id,
				blog: {}
			}
		},
		created(){
			this.$http.get('https://vuefirst-2f764.firebaseio.com/posts/' + this.id + '.json').then(function(data){
					return data.json();
			}).then(function(data){
				this.blog = data;
			});
		}
	}

</script>

<style>
	#single-blog{
		max-width: 960px;
		margin: 0 auto;
	}
</style>