<template>
  <div>
    <!-- <app-header v-bind:title="title" v-on:changeTitle="updateTitle($event)"></app-header>
    <app-content v-bind:ninjas="ninjas"></app-content>
    <app-footer v-bind:title="title"></app-footer> -->
    <!-- <form-helper>
      <div slot="form-header">
        <h3>Form Title</h3>
        <p>Form description</p>
      </div>

      <div slot="form-fields">
        <input type="text" name="" placeholder="username" required>
        <input type="password" name="" placeholder="password" required>
      </div>

      <div slot="form-controls">
        <button v-on:click="submitForm">Submit</button>
      </div>
    </form-helper> -->
    <!-- <keep-alive>
    <component v-bind:is="component"></component>
    </keep-alive>
    <button v-on:click="toFormOne">Form One</button>
    <button v-on:click="toFormTwo">Form Two</button> -->

    <!-- <add-blog></add-blog> -->
    <!-- <show-blogs></show-blogs>
    <list-blogs></list-blogs> -->
    <blog-header></blog-header>
    <router-view></router-view>

  </div>
</template>

<script>
// import Header from './components/Header.vue'
// import Ninjas from './components/Ninjas.vue'
// import Footer from './components/Footer.vue'
// import FormHelper from './components/FormHelper.vue'
// import FormOne from './components/Form-One.vue'
// import FormTwo from './components/Form-Two.vue'
import addBlog from './components/addBlog.vue'
import showBlogs from './components/showBlogs.vue'
import listBlogs from './components/listBlogs.vue'
import blogHeader from './components/blogHeader.vue'

export default {
  components: {
    // 'app-header': Header,
    // 'app-footer': Footer,
    // 'app-content': Ninjas,
    // 'form-helper': FormHelper,
    // 'form-one': FormOne,
    // 'form-two': FormTwo,
    'add-blog': addBlog,
    'show-blogs': showBlogs,
    'list-blogs': listBlogs,
    'blog-header': blogHeader
  },
  data () {
    return {
     //  ninjas: [
     //  {name: 'Ryu', speciality: 'Vue Components', show: false},
     //  {name: 'Crystal', speciality: 'HTML Wizardy', show: false},
     //  {name: 'Hitoshi', speciality: 'Click Events', show: false},
     //  {name: 'Tango', speciality: 'Conditionals', show: false},
     //  {name: 'Kami', speciality: 'Webpack', show: false},
     //  {name: 'Yoshi', speciality: 'Data Mining', show: false}
     // ],
     // title: 'Vue Ninjas',
     // slotTitle: 'New dynamic title',
     // text: 'New dynamic text',
     // component: 'form-one'
    }
  },
  methods: {
    // updateTitle: function(titleupdate){
    //   this.title = titleupdate;
    // },
    // toFormOne: function(){
    //   this.component = 'form-one';
    //   console.log(this.component);
    // },
    // toFormTwo: function(){
    //   this.component = 'form-two';
    //   console.log(this.component);
    // },
  }
}
</script>

<style>
  body{
    margin: 0;
    font-family: 'Nunito SemiBold';
  }
</style>
